<!-- google material-icons -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!--
	기본 사용 방법
	<span class="material-icons">face</span>
	
	추가 색상,크기,비활성화 는 아래 링크 참조
	https://developers.google.com/fonts/docs/material_icons?hl=ko
-->


<!-- Pretendard 폰트 전체적용 -->
<link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css" />
<style>
	* {
		font-family: pretendard;
	}
	footer {
		text-align: center;
	}
	footer section{
		margin: 50px;
	}
</style>