<footer>
	<hr>
    <section>
        <a href="#">프로젝트 소개</a>    
        <span>|</span>
        <a href="#">이용약관</a>    
        <span>|</span>
        <a href="#">개인정보처리방침</a>    
        <span>|</span>
        <a href="#">고객센터</a>    
    </section>
	
	상호명 : 나눔기브 | 대표 : 000
	<br>
	사업자등록번호 : 123-45-67890
	<br>
	주소 : 서울특별시 중구 남대문로 120 그레이츠 청계(구 대일빌딩) 2F,3F
	<br>
	전화 : 1234-5678
	<br>
	
	<p> Copyright &copy; 2025 KH Information Educational Institute Semi Project Team 3 All Right Reserved </p>
</footer>