<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이메일로 인증하여 아이디 찾기</title>
    <th:block th:replace="~{common/common}"></th:block>
    <link rel="stylesheet" th:href="@{/css/member/findId.css}" />
</head>

<body>
    <th:block th:replace="~{common/header}"></th:block>

    <main>
    <div class="container">
        <h1>이메일로 인증하여 아이디 찾기</h1>
        
        <div class="form-group">
            <label for="email">이메일</label>
            <div class="button-row">
                <div class="verify-btn">
                    <input type="email" id="email" placeholder="이메일을 입력해 주세요">
                </div>
                <button class="submit-btn">인증받기</button>
            </div>
        </div>
        
        <div class="form-group">
            <input type="text" id="verification-code" placeholder="인증 번호를 입력해 주세요">
        </div>
        
        <div class="success-msg">인증되었습니다.</div>
        
        <button class="primary-btn">아이디 찾기</button>
    </div>
    </main>

    <th:block th:replace="~{common/footer}"></th:block>
</body>
</html>
