<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.kh.semi.board.mapper.FreeBoardMapper">

  <resultMap id="freeBoardResultMap" type="edu.kh.semi.board.dto.FreeBoard">
    <id     property="boardNo"    column="BOARD_NO"/>
    <result property="title"      column="TITLE"/>
    <result property="content"    column="CONTENT"/>
    <result property="memberNo"   column="MEMBER_NO"/>
    <result property="createDate" column="CREATE_DATE"/>
    <result property="updateDate" column="UPDATE_DATE"/>
    <result property="delFl"      column="DEL_FL"/>
  </resultMap>

  <select id="selectFreeBoardList" resultMap="freeBoardResultMap">
    SELECT * 
      FROM FREE_BOARD 
     WHERE DEL_FL='N'
     ORDER BY BOARD_NO DESC
  </select>

  <select id="selectFreeBoard" parameterType="long" resultMap="freeBoardResultMap">
    SELECT * FROM FREE_BOARD WHERE BOARD_NO = #{boardNo}
  </select>

  <insert id="insertFreeBoard" parameterType="edu.kh.semi.board.dto.FreeBoard">
    INSERT INTO FREE_BOARD (BOARD_NO, TITLE, CONTENT, MEMBER_NO)
    VALUES (SEQ_FREE_BOARD.NEXTVAL, #{title}, #{content}, #{memberNo})
  </insert>

  <update id="updateFreeBoard" parameterType="edu.kh.semi.board.dto.FreeBoard">
    UPDATE FREE_BOARD
       SET TITLE       = #{title},
           CONTENT     = #{content},
           UPDATE_DATE = SYSDATE
     WHERE BOARD_NO   = #{boardNo}
  </update>

  <update id="deleteFreeBoard" parameterType="long">
    UPDATE FREE_BOARD
       SET DEL_FL = 'Y'
     WHERE BOARD_NO = #{boardNo}
  </update>

	
		 
</mapper>
